In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
calfires = pd.read_csv('2kCalFires.csv')
print(len(calfires))
print(calfires.head())
print(calfires.columns)

1636
   AcresBurned  Active                                          AdminUnit  \
0     257314.0   False  Stanislaus National Forest/Yosemite National Park
1      30274.0   False  USFS Angeles National Forest/Los Angeles Count...
2      27531.0   False  CAL FIRE Riverside Unit / San Bernardino Natio...
3      27440.0   False                              Tahoe National Forest
4      24251.0   False                       Ventura County Fire/CAL FIRE

   AirTankers  ArchiveYear  CalFireIncident  \
0         NaN         2013             True
1         NaN         2013             True
2         NaN         2013             True
3         NaN         2013            False
4         NaN         2013             True

                            CanonicalUrl  \
0         /incidents/2013/8/17/rim-fire/
1  /incidents/2013/5/30/powerhouse-fire/
2    /incidents/2013/7/15/mountain-fire/
3    /incidents/2013/8/10/american-fire/
4      /incidents/2013/5/2/springs-fire/

                                  ConditionStatement ControlStatement  \
0                                                NaN              NaN
1                                                NaN              NaN
2                                                NaN              NaN
3                                                NaN              NaN
4  Acreage has been reduced based upon more accur...              NaN

      Counties  ...                                     SearchKeywords  \
0     Tuolumne  ...  Rim Fire, Stanislaus National Forest, Yosemite...
1  Los Angeles  ...  Powerhouse Fire, May 2013, June 2013, Angeles ...
2    Riverside  ...  Mountain Fire, July 2013, Highway 243, Highway...
3       Placer  ...  American Fire, August 2013, Deadwood Ridge, Fo...
4      Ventura  ...  Springs Fire, May 2013, Highway 101, Camarillo...

                Started     Status  StructuresDamaged StructuresDestroyed  \
0  2013-08-17T15:25:00Z  Finalized                NaN                 NaN
1  2013-05-30T15:28:00Z  Finalized                NaN                 NaN
2  2013-07-15T13:43:00Z  Finalized                NaN                 NaN
3  2013-08-10T16:30:00Z  Finalized                NaN                 NaN
4  2013-05-02T07:01:00Z  Finalized                6.0                10.0

   StructuresEvacuated  StructuresThreatened  \
0                  NaN                   NaN
1                  NaN                   NaN
2                  NaN                   NaN
3                  NaN                   NaN
4                  NaN                   NaN

                               UniqueId               Updated  WaterTenders
0  5fb18d4d-213f-4d83-a179-daaf11939e78  2013-09-06T18:30:00Z           NaN
1  bf37805e-1cc2-4208-9972-753e47874c87  2013-06-08T18:30:00Z           NaN
2  a3149fec-4d48-427c-8b2c-59e8b79d59db  2013-07-30T18:00:00Z           NaN
3  8213f5c7-34fa-403b-a4bc-da2ace6e6625  2013-08-30T08:00:00Z           NaN
4  46731fb8-3350-4920-bdf7-910ac0eb715c  2013-05-11T06:30:00Z          11.0

[5 rows x 40 columns]
Index(['AcresBurned', 'Active', 'AdminUnit', 'AirTankers', 'ArchiveYear',
       'CalFireIncident', 'CanonicalUrl', 'ConditionStatement',
       'ControlStatement', 'Counties', 'CountyIds', 'CrewsInvolved', 'Dozers',
       'Engines', 'Extinguished', 'Fatalities', 'Featured', 'Final',
       'FuelType', 'Helicopters', 'Injuries', 'Latitude', 'Location',
       'Longitude', 'MajorIncident', 'Name', 'PercentContained',
       'PersonnelInvolved', 'Public', 'SearchDescription', 'SearchKeywords',
       'Started', 'Status', 'StructuresDamaged', 'StructuresDestroyed',
       'StructuresEvacuated', 'StructuresThreatened', 'UniqueId', 'Updated',
       'WaterTenders'],
      dtype='object')

In [84]:
def ee_array_to_df(arr, list_of_bands):
    """Transforms client-side ee.Image.getRegion array to pandas.DataFrame."""
    df = pd.DataFrame(arr)

    # Rearrange the header.
    headers = df.iloc[0]
    df = pd.DataFrame(df.values[1:], columns=headers)

    # Remove rows without data inside.
#     df = df[['longitude', 'latitude', 'time', *list_of_bands]].dropna()
    print(len(df))
    # Convert the data to numeric values.
    for band in list_of_bands:
        df[band] = pd.to_numeric(df[band], errors='coerce')

    # Convert the time field into a datetime.
    df['datetime'] = pd.to_datetime(df['time'], unit='ms')

    # Keep the columns of interest.
    df = df[['time','datetime',  *list_of_bands]]

    return df

In [86]:
import datetime
import ee

In [87]:
ee.Authenticate()
ee.Initialize()

Enter verification code: 4/1AX4XfWiknfddivboBNRpeNh9mOy2JRHnBI1dzneF3rpq0eyiwp_pVbiZ_kQ

Successfully saved authorization token.

In [242]:
i_date = '2020-03-05'
f_date = '2020-03-06'
NDVI = ee.ImageCollection('MODIS/006/MOD13A1').filter(ee.Filter.date(i_date, f_date));

In [243]:
# u_lon = 4.8148
# u_lat = 45.7758
# u_poi = ee.Geometry.Point(u_lon, u_lat)

u_lon = 5.175964
u_lat = 45.574064
u_poi = ee.Geometry.Point(u_lon, u_lat)

In [244]:
scale = 100000
test = NDVI.getRegion(u_poi, scale).getInfo()
print(test)

[['id', 'longitude', 'latitude', 'time', 'NDVI', 'EVI', 'DetailedQA', 'sur_refl_b01', 'sur_refl_b02', 'sur_refl_b03', 'sur_refl_b07', 'ViewZenith', 'SolarZenith', 'RelativeAzimuth', 'DayOfYear', 'SummaryQA'], ['2020_03_05', 4.940734062657368, 45.364921848035834, 1583366400000, 6102, 3581, 2189, 635, 2651, 338, 1139, 1379, 4917, 2057, 71, 1]]

In [240]:
df = ee_array_to_df(test,['NDVI', 'EVI'])

1

In [241]:
print(df['NDVI'][0])

6102

In [ ]:
4065 1930
1000 - 3193
10000 - 3268
100000 - 6102
1000000 - 5570

In [80]:
print(df.head())

0           time   datetime  Fpar
0  1025740800000 2002-07-04   NaN
1  1026086400000 2002-07-08   NaN
2  1026432000000 2002-07-12   NaN
3  1026777600000 2002-07-16   NaN
4  1027123200000 2002-07-20   NaN