In [36]:
import requests
import pandas as pd
import json
import numpy as np
from datetime import datetime
import sqlite3
Key = 'bd608daa318a1fa9e9170fdf07691f9c5d711c7b'
#From US Census data:

#https://www.census.gov/data/developers/data-sets/popest-popproj/popest.html
#https://api.census.gov/data/2019/pep/charagegroups/examples.html

In [37]:
conn = sqlite3.connect("KaggleUSWildfires.sqlite")

In [47]:
# print(len(conn))
df = pd.read_sql_query("SELECT * FROM Fires", conn)
# df = pd.read_sql_query("SELECT FIRE_SIZE AS SUM_FIRE_SIZE, State FROM Fires GROUP BY State;", conn)
print(df.head())

   OBJECTID  FOD_ID      FPA_ID SOURCE_SYSTEM_TYPE SOURCE_SYSTEM  \
0         1       1  FS-1418826                FED   FS-FIRESTAT
1         2       2  FS-1418827                FED   FS-FIRESTAT
2         3       3  FS-1418835                FED   FS-FIRESTAT
3         4       4  FS-1418845                FED   FS-FIRESTAT
4         5       5  FS-1418847                FED   FS-FIRESTAT

  NWCG_REPORTING_AGENCY NWCG_REPORTING_UNIT_ID  NWCG_REPORTING_UNIT_NAME  \
0                    FS                USCAPNF    Plumas National Forest
1                    FS                USCAENF  Eldorado National Forest
2                    FS                USCAENF  Eldorado National Forest
3                    FS                USCAENF  Eldorado National Forest
4                    FS                USCAENF  Eldorado National Forest

  SOURCE_REPORTING_UNIT SOURCE_REPORTING_UNIT_NAME  ... FIRE_SIZE_CLASS  \
0                  0511     Plumas National Forest  ...               A
1                  0503   Eldorado National Forest  ...               A
2                  0503   Eldorado National Forest  ...               A
3                  0503   Eldorado National Forest  ...               A
4                  0503   Eldorado National Forest  ...               A

    LATITUDE   LONGITUDE OWNER_CODE       OWNER_DESCR STATE COUNTY FIPS_CODE  \
0  40.036944 -121.005833        5.0              USFS    CA     63       063
1  38.933056 -120.404444        5.0              USFS    CA     61       061
2  38.984167 -120.735556       13.0  STATE OR PRIVATE    CA     17       017
3  38.559167 -119.913333        5.0              USFS    CA      3       003
4  38.559167 -119.933056        5.0              USFS    CA      3       003

   FIPS_NAME                                              Shape
0     Plumas  b'\x00\x01\xad\x10\x00\x00\xe8d\xc2\x92_@^\xc0...
1     Placer  b'\x00\x01\xad\x10\x00\x00T\xb6\xeej\xe2\x19^\...
2  El Dorado  b'\x00\x01\xad\x10\x00\x00\xd0\xa5\xa0W\x13/^\...
3     Alpine  b'\x00\x01\xad\x10\x00\x00\x94\xac\xa3\rt\xfa]...
4     Alpine  b'\x00\x01\xad\x10\x00\x00@\xe3\xaa.\xb7\xfb]\...

[5 rows x 39 columns]

In [81]:
sz = len(df)
print(sz)
dates = []
longs = []
lats = []
county = []

for i in range(sz):
    if df['STATE'][i] != 'CA':
        continue
    dates.append(df['DISCOVERY_DATE'][i])
    longs.append(df['LONGITUDE'][i])
    lats.append(df['LATITUDE'][i])
    county.append(df['COUNTY'][i])
    
print(len(dates))
print(county[len(county)-1])

1880465
189550
None

In [75]:
moda = pd.DataFrame()
moda['dates'] = dates
moda['longs'] = longs
moda['lats'] = lats
moda['c'] = county
print(moda.head())
print(moda['c'][0])

       dates       longs       lats   c
0  2453403.5 -121.005833  40.036944  63
1  2453137.5 -120.404444  38.933056  61
2  2453156.5 -120.735556  38.984167  17
3  2453184.5 -119.913333  38.559167   3
4  2453184.5 -119.933056  38.559167   3
63

In [78]:
sz = len(moda)
dates = []
longs = []
lats = []
county = []

moda['DATETIME'] = pd.to_datetime(moda['dates'] - pd.Timestamp(0).to_julian_date(), unit='D')

# print(moda['DATETIME'][0].year)
for i in range(sz):
    if int(moda['DATETIME'][i].year) < 2010:
        continue
    dates.append(moda['dates'][i])
    longs.append(moda['longs'][i])
    lats.append(moda['lats'][i])
    county.append(moda['c'][i])
#     print(moda['c'][i])
    
print(moda['c'][0])

63

In [79]:
print(moda['c'])
# # modb = pd.DataFrame()
# # modb['DISCOVERY_DATE'] = dates
# # modb['LATITUDE'] = longs
# # modb['LONGITUDE'] = lats
# # modb['c'] = county
# # print(modb.head())
# # print(len(modb))

0           63
1           61
2           17
3            3
4            3
          ...
189545    None
189546    None
189547    None
189548    None
189549    None
Name: c, Length: 189550, dtype: object

In [63]:
other = pd.read_csv('mod_CA2010Fires.csv')
other['DATETIME'] = pd.to_datetime(other['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
print(other.head())

   Unnamed: 0  FIRE_YEAR STAT_CAUSE_DESCR   LATITUDE   LONGITUDE STATE  \
0           0       2010    Equipment Use  36.766944 -121.303056    CA
1           1       2010    Miscellaneous  36.776944 -121.311111    CA
2           2       2010    Miscellaneous  36.856111 -121.381111    CA
3           3       2010    Miscellaneous  36.818056 -121.391111    CA
4           4       2010    Miscellaneous  36.883056 -121.561944    CA

   DISCOVERY_DATE  FIRE_SIZE        DATE      zipcode  \
0       2455335.5       70.0  2010-05-19  95075-9701,
1       2455355.5        0.5  2010-06-08       95023,
2       2455359.5        0.1  2010-06-12       95023,
3       2455361.5        0.1  2010-06-14       95023,
4       2455388.5        1.0  2010-07-11  95045-9662,

                                             address   DATETIME
0  Saddle Association Museum, Airline Highway, Tr... 2010-05-19
1  Pinnacle Hills Golf Club, 7777, Airline Highwa... 2010-06-08
2  1198, Santa Ana Road, Hollister, San Benito Co... 2010-06-12
3  186, Hospital Road, Hollister, San Benito Coun... 2010-06-14
4  Chittenden Road, River Oaks, San Benito County... 2010-07-11

In [ ]:
int p = 0
res = []
for i in range(len(other)):
    if p == len(moda) or other['DISCOVERY_DATE'][i] != moda['dates'][p] or other['LONGITUDE'][i] != moda['DISCOVERY_DATE'][p] or

In [33]:

def generateURL(time, countycode):
    base_url = 'https://api.census.gov/data/{YEAR}/pep/charagegroups?get=NAME,POP&for=county:{COUNTY}&in=state:06&key=bd608daa318a1fa9e9170fdf07691f9c5d711c7b'
    api_request_url = base_url.format(YEAR=time, COUNTY=countycode)
    return api_request_url
print(generateURL(2019,'001'))

https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=county:001&in=state:06&key=bd608daa318a1fa9e9170fdf07691f9c5d711c7b

In [10]:
year = []
sz = len(df)
for i in range(sz):
    s = df['DATE'][i]
    res = s[0:4]
    year.append(res)
    
df['YEAR'] = year

In [28]:

example = 'https://api.census.gov/data/2019/pep/charagegroups?get=NAME,POP&for=county:001&in=state:06&key=bd608daa318a1fa9e9170fdf07691f9c5d711c7b'

# ONE_MINUTE = 60
# MAX_CALLS_PER_MINUTE = 55

# @sleep_and_retry
# @limits(calls=MAX_CALLS_PER_MINUTE, period=ONE_MINUTE)
def access_rate_limited_api(req_url):
    try:
        response = requests.get(url=req_url, verify=True, timeout=None)
        if response.status_code != 200:
            raise Exception('API response: {}'.format(response.status_code))
        content = response.text
        a = content.split(',')
        b = a[6].split('"')
        return b[1]
    except Exception:
        print('exception with:')
        print(req_url)
        SLEEPTIME.sleep(101)
        # wait = min(wait+2, 600)
        return access_rate_limited_api(req_url)

access_rate_limited_api(example)
#Correct, according to google... Yay!

'1671329'

In [26]:
sz = len(df)
for i in range(sz):
    yr = df['YEAR'][i]

    url = generateURL(yr, )
    s = access_rate_limited_api(url)
    vals = s.split(',')
#     if i%100 == 0:
    print('done: ' + str(i) + ' requests...')

    for i in range(len(vals)):
        mp[params[i]].append(vals[i])

print(mp)

<class 'str'>