In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import datetime
import ee
import math
scale = 0.02
#Experimentally found smaller = pinpoint location

In [2]:
ee.Authenticate()
ee.Initialize()

Enter verification code: 4/1AX4XfWhEtPivQqeL0KofsrEYu-V8Od26SQG2ya0jq0gO7VT1bV-L0RxFGCw

Successfully saved authorization token.

In [8]:
fires = pd.read_csv('20kFires.csv')
fires['datetime'] = pd.to_datetime(fires['DISCOVERY_DATE'] - pd.Timestamp(0).to_julian_date(), unit='D')
fires.head()

,Unnamed: 0,Unnamed: 0.1,FIRE_YEAR,STAT_CAUSE_DESCR,LATITUDE,LONGITUDE,STATE,DISCOVERY_DATE,FIRE_SIZE,DATE,zipcode,address,datetime
0,0,0,2010,Equipment Use,36.766944,-121.303056,CA,2455335.5,70.0,2010-05-19,95075-9701,"Saddle Association Museum, Airline Highway, Tr...",2010-05-19
1,1,1,2010,Miscellaneous,36.776944,-121.311111,CA,2455355.5,0.5,2010-06-08,95023,"Pinnacle Hills Golf Club, 7777, Airline Highwa...",2010-06-08
2,2,2,2010,Miscellaneous,36.856111,-121.381111,CA,2455359.5,0.1,2010-06-12,95023,"1198, Santa Ana Road, Hollister, San Benito Co...",2010-06-12
3,3,3,2010,Miscellaneous,36.818056,-121.391111,CA,2455361.5,0.1,2010-06-14,95023,"186, Hospital Road, Hollister, San Benito Coun...",2010-06-14
4,4,4,2010,Miscellaneous,36.883056,-121.561944,CA,2455388.5,1.0,2010-07-11,95045-9662,"Chittenden Road, River Oaks, San Benito County...",2010-07-11

In [9]:
# marker = 0
def ee_array_to_df(arr, list_of_bands):
    """Transforms client-side ee.Image.getRegion array to pandas.DataFrame."""
    df = pd.DataFrame(arr)

    # Rearrange the header.
    headers = df.iloc[0]
    df = pd.DataFrame(df.values[1:], columns=headers)

    # Remove rows without data inside.
#     df = df[['longitude', 'latitude', 'time', *list_of_bands]].dropna()
#     print(len(df))
    # Convert the data to numeric values.
    for band in list_of_bands:
        df[band] = pd.to_numeric(df[band], errors='coerce')
#     print(df)
#     for i in df:
#         if math.isnan(float(df[i][0])):
#             marker = 1
#             raise Exception("NaN Value detected")
    # Convert the time field into a datetime.
    df['datetime'] = pd.to_datetime(df['time'], unit='ms')

    # Keep the columns of interest.
    df = df[['time','datetime',  *list_of_bands]]
    
    return df

In [10]:
# a_date = datetime. date(2015, 10, 10)
# days = datetime. timedelta(5)
# new_date = a_date - days. Subtract 5 days from a_date.
# print(new_date)

# print(fires['datetime'][0])
# print(type(fires['datetime'][0]))
# #Year-Month-Date
# a = fires['datetime'][0].strftime('%Y-%m-%d')
# print(a)
# print(type(a))
#returns [i_date, f_date]
#freq - e.g, 7 days per observation

#NOTE: Its EXCLUSIVE last date
#Data interpolation
def getDate(dt, freq):
#     if type(dt) != datetime:
#         print("error: not datetime")
#     freq -= 1
    half = int(freq/2)
    sub = datetime.timedelta(half)
    add = datetime.timedelta(freq - half)
    i_d = dt - sub
    f_d = dt + add
    
    i_d = i_d.strftime('%Y-%m-%d')
    f_d = f_d.strftime('%Y-%m-%d')
    return [i_d, f_d]

test = fires['datetime'][0]
#^ is 2010-05-19
print(getDate(test, 1))

['2010-05-19', '2010-05-20']

In [11]:
dataset = ee.ImageCollection("GRIDMET/DROUGHT")
#MODIS/061/MOD13A1-drought index-https://developers.google.com/earth-engine/datasets/catalog/GRIDMET_DROUGHT

# dataset = ee.ImageCollection('MODIS/061/MOD13A1')
#MODIS/061/MOD13A1 - NDVI - https://developers.google.com/earth-engine/datasets/catalog/MODIS_061_MOD13A1

In [12]:
for i in fires:
    print(i)

Unnamed: 0
Unnamed: 0.1
FIRE_YEAR
STAT_CAUSE_DESCR
LATITUDE
LONGITUDE
STATE
DISCOVERY_DATE
FIRE_SIZE
DATE
zipcode
address
datetime

In [13]:
#init for NDVI
feature_array = ['spi14d', 'spi30d', 'spi270d', 'eddi14d', 'eddi30d', 'eddi270d', 'spei14d', 'spei30d', 'spei270d', 'pdsi', 'z', 'spi1y', 'eddi1y', 'spei1y']
res = {}
for i in range(len(feature_array)):
    res[feature_array[i]] = []

sz = len(fires)

In [14]:
#returns df
#i_date - string, inclusive
#f_date - string, exclusive
def query(i_date, f_date, lon, lat, feature_array):
    cur = dataset.filter(ee.Filter.date(i_date, f_date))
    pos = ee.Geometry.Point(lon, lat)
    res = cur.getRegion(pos, scale).getInfo()
    if(len(res) > 2):
        print("more than one satellite entry for date range")
#     print("Acquire successful")
    df = ee_array_to_df(res,feature_array)
    return df

i_date = '2011-05-10'
f_date = '2011-05-15'
# test = dataset.filter(ee.Filter.date(i_date, f_date))
u_lon = -121.30305
u_lat = 36.76694
test = ['spi14d', 'spi30d', 'spi270d', 'eddi14d', 'eddi30d', 'eddi270d', 'spei14d', 'spei30d', 'spei270d', 'pdsi', 'z', 'spi1y', 'eddi1y', 'spei1y']

# print(query(i_date, f_date, u_lon, u_lat, test))
#4823	2011	Missing/Undefined	41.778817	-124.2533	CA	2455780.5	0.1	2011-08-07
i_date = '2011-08-01'
f_date = '2011-08-15'
# test = dataset.filter(ee.Filter.date(i_date, f_date))
u_lon = -124.2
u_lat = 41.7
query(i_date, f_date, u_lon, u_lat, test)

more than one satellite entry for date range

,time,datetime,spi14d,spi30d,spi270d,eddi14d,eddi30d,eddi270d,spei14d,spei30d,spei270d,pdsi,z,spi1y,eddi1y,spei1y
0,1312351200000,2011-08-03 06:00:00,-0.03,0.90,0.54,1.01,-1.01,-0.46,-0.80,0.9,0.47,NaN,NaN,0.71,-0.54,0.80
1,1312783200000,2011-08-08 06:00:00,0.24,0.90,0.47,0.54,-1.13,-0.39,-0.39,0.8,0.47,NaN,NaN,0.71,-0.54,0.80
2,1313215200000,2011-08-13 06:00:00,0.24,1.01,0.47,0.24,-0.80,-0.39,-0.46,0.8,0.47,NaN,NaN,0.71,-0.54,0.71

In [15]:
#TODO: Latitude Longitude rounding...?
all_exceptions = set()
def helper(lon, lat, dat, daterange):
#     print(str(lon) + " " + str(lat) + " " + str(dat) + " " + str(daterange))
    try:
        i_d, f_d = getDate(dat, daterange)
        cur = query(i_d, f_d, lon, lat, feature_array)

        for i in cur:
            if not isinstance(cur[i][0], float):
                continue
            if math.isnan(float(cur[i][0])):
                whole = helper(int(lon), int(lat), dat, daterange)
                cur[i][0] = whole[i][0]

        return cur
    except Exception as e:
        all_exceptions.add(e)
        print(e)
        print(str(lon) + " " + str(lat))
        return helper(lon, lat, dat, daterange+1)

    
# u_lon = -124.2
# u_lat = 41.7
# print(helper(u_lon, u_lat, fires['datetime'][0], 10))

In [ ]:
daterange = 5
#Process for NDVI
for i in range(sz):
    df = helper(fires['LONGITUDE'][i], fires['LATITUDE'][i], fires['datetime'][i], daterange)
    if(len(df) > 1):
        print("SHOULD HAVE ALREADY PRINTED more than 1 satellite observation")
    for j in range(len(feature_array)):
        res[feature_array[j]].append(df[feature_array[j]][0])
    if i%1000 == 0:
        print("done with " + str(i))
#     print(df)
print("DONE --  comment out to make sure nothing is erased")

done with 0

In [146]:
finaldf = pd.DataFrame(res)
print(finaldf.head())
print(len(finaldf))

     NDVI     EVI  SolarZenith
0  4176.0  2818.0       2254.0
1  4039.0  2445.0       1901.0
2  4155.0  2172.0       1911.0
3  3013.0  2043.0       2329.0
4  2398.0  1657.0       2452.0
24153

In [151]:
actual = {}
for i in range(len(feature_array)):
    actual[feature_array[i]] = []
# print(len(fires))
actual['longitude'] = []
actual['latitude'] = []
actual['date'] = []
idx = 1118
while idx < len(finaldf):
    for j in range(len(feature_array)):
        actual[feature_array[j]].append(finaldf[feature_array[j]][idx])
    actual['longitude'].append(fires['LONGITUDE'][idx-1118])
    actual['latitude'].append(fires['LATITUDE'][idx-1118])
    actual['date'].append(fires['datetime'][idx-1118])
    idx += 1
#     res

In [154]:
other = pd.DataFrame(actual)
print(other.head())

     NDVI     EVI  SolarZenith   longitude   latitude       date
0  4176.0  2818.0       2254.0 -121.303056  36.766944 2010-05-19
1  4039.0  2445.0       1901.0 -121.311111  36.776944 2010-06-08
2  4155.0  2172.0       1911.0 -121.381111  36.856111 2010-06-12
3  3013.0  2043.0       2329.0 -121.391111  36.818056 2010-06-14
4  2398.0  1657.0       2452.0 -121.561944  36.883056 2010-07-11

In [155]:
other.to_csv('20kNDVI.csv')